<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Data Gizi</title>
  </head>
  <body id="body">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="overlay">
      <label for="menu-toggle"></label>
    </div>

    <%- include("./includes/sidebar.ejs") %>

    <div class="main">
      <%- include("./includes/nav.ejs") %>
      <div class="main-content">
        <div class="in-container">
          <div class="profile">
            <div class="action">
              <a href="/admin/nutrition-report?id=<%= member.id  %>">
                <i class="bx bx-left-arrow-alt"></i> kembali</a
              >
            </div>
            <img src="/assets/img/avataaars.png" alt="avataaars" />
            <h4>Ibu <%= member.namaibu %></h4>
            <p><%= member.namabalita %></p>
            <p><%= member.alamat %></p>
          </div>
          <div class="input">
            <form action="/admin/<%= edit ? "edit-data" : "add-data" %>" method="post">
              <input type="hidden" name="nutritionId" value="<%= nutrition.id %>">
              <input type="hidden" name="id" value="<%= member.id %>" />
              <div class="input-row">
                <div class="col">
                  <label for="berat">Berat (kg)</label>
                  <input step="0.01"  type="text" name="berat" id="berat" value="<%= edit ?
                  nutrition.weight : "" %>"/>
                </div>
                <div class="col">
                  <label for="tinggi">Tinggi/Panjang (cm)</label>
                  <input  step="0.01" type="text" name="tinggi" id="tinggi" value="<%= edit ?
                  nutrition.height : "" %>" />
                </div>
              </div>

              <div class="input-row">
                <div class="col">
                  <label for="umur">Umur (bulan)</label>
                  <input  step="0.01" type="text" name="umur" id="umur" value="<%= edit ?
                  nutrition.age : "" %>" />
                </div>
                <div class="col">
                  <label for="bulan">Bulan Pengukuran</label>
                  <select name="bulan" id="bulan">
                    <option value="0" <% if (fn(edit, nutrition.month, 0)) { %> selected <% } %> >Januari</option>
                    <option value="1" <% if (fn(edit, nutrition.month, 1)) { %> selected <% } %> >Februari</option>
                    <option value="2" <% if (fn(edit, nutrition.month, 2)) { %> selected <% } %> >Maret</option>
                    <option value="3" <% if (fn(edit, nutrition.month, 3)) { %> selected <% } %> >April</option>
                    <option value="4" <% if (fn(edit, nutrition.month, 4)) { %> selected <% } %> >Mei</option>
                    <option value="5" <% if (fn(edit, nutrition.month, 5)) { %> selected <% } %> >Juni</option>
                    <option value="6" <% if (fn(edit, nutrition.month, 6)) { %> selected <% } %> >Juli</option>
                    <option value="7" <% if (fn(edit, nutrition.month, 7)) { %> selected <% } %> >Agustus</option>
                    <option value="8" <% if (fn(edit, nutrition.month, 8)) { %> selected <% } %> >September</option>
                    <option value="9" <% if (fn(edit, nutrition.month, 9)) { %> selected <% } %> >Oktober</option>
                    <option value="10" <% if (fn(edit, nutrition.month, 10)) { %> selected <% } %> >November</option>
                    <option value="11" <% if (fn(edit, nutrition.month, 11)) { %> selected <% } %> >Desember</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn <%= edit ? "btn-warning" : "btn-input" %> ">
                <%= edit ? "Edit" : "Simpan" %>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets//js/admin.js"></script>
  </body>
</html>
