<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Data Ibu Mentari</title>
  </head>
  <body id="body">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="overlay">
      <label for="menu-toggle"></label>
    </div>

    <%- include("./includes/sidebar.ejs", {activeMember}) %>
    <div class="main">
      <%- include("./includes/nav.ejs", {activeMember}) %>

      <div class="main-content">
        <div class="action">
          <a href="/admin/">
            <i class="bx bx-left-arrow-alt"></i> kembali</a
          >
        </div>
        <div class="in-container">
          <div class="profile ">
            <img src="/assets/img/avataaars.png" alt="avataaars" />
            <h4>Ibu <%= member.mothername %></h4>
            <p><%= member.childname %></p>
            <p><%= member.address %></p>
          </div>
          <div class=" individual-report">
            <div class="act">
              <a
                href="/admin/add-data?id=<%= member.id %>"
                class="btn btn-secondary"
                >Tambah Data </a>
            </div>
           <div class="table table-container">
            <table>
              <thead>
                <th class="no">No</th>
                <th class="weight">Berat (kg)</th>
                <th class="height">Tinggi (cm)</th>
                <th class="age">Umur (Bulan)</th>
                <th class="month">Bulan Pengukuran</th>
                <th class="notes">Catatan</th>
                <th class="ac">Action</th>
              </thead>
              <tbody>
                <% nutritions.forEach( (nutrition, index) => { %>
                <tr>
                  <td class="no"><%= (index + 1) %></td>
                  <td class="weight"><%= nutrition.weight %></td>
                  <td class="height"><%= nutrition.height %></td>
                  <td class="age"><%= nutrition.age %></td>
                  <td class="month"><%= nutrition.month %></td>
                  <td class="notes">
                      <ol>
                        <% notes.forEach(note => { if(nutrition.id == note.nutritionId) { %>
                        <li class="<%= note.state ? "state-done" : ""%>"><%= note.text %></li>
                     
                        <% } }) %>
                      </ol>
                  </td>
                  <td class="ac">
                    <form action="/admin/delete-data" method="post">
                      <input
                        type="hidden"
                        name="id"
                        value="<%= nutrition.id %>"
                      />
                      <div class="action-container">
                        <a
                          href="/admin/edit-data?id=<%= nutrition.id %>&edit=true"
                          class="btn oc btn-warning"
                          ><i class="bx bx-edit"></i
                        ></a>
                        <button type="submit" class="btn oc btn-danger">
                          <i class="bx bx-trash"></i>
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
           </div>
          </div>
        </div>
      </div>

      <div class="main-content">
        <div class="chart-section">
          <div class="chart-box">
            <div class="title">
              <h4>Grafik Berat (Kg)/Bulan</h4>
            </div>
           <div class="chart">
            <canvas id="weightChart"></canvas>
           </div>
          </div>
          <div class="chart-box">
            <div class="title">
            <h4>Grafik Tinggi (Cm)/Bulan</h4>
            </div>
            <div class="chart">
            <canvas id="heightChart"></canvas>
            </div>
          </div>
          <div class="chart-box">
            <div class="title">
            <h4>Grafik Berat (Kg)/Tinggi (cm)</h4>
            </div>
            <div class="chart">
            <canvas id="weightHeightChart"></canvas>
            </div>
          </div>
        </div>

        <div class="chart-section">
          <div class="chart-box chart-large">
           <div class="title">
            <h3>Grafik Gizi / Bulan</h3>
           </div>
           <div class="chart">
            <canvas id="nutritionChart"></canvas>
           </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/event.js"></script>
  </body>
</html>
