<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
  <body id="body">
    <%- include("./includes/sidebar.ejs", {activeMember}) %>

    <div class="main">
      <%- include("./includes/nav.ejs", {activeMember}) %>

      <div class="main-content">
        <div class="report-container">
          <div class="actions">
            <div class="actions__button">
              <a href="/admin/add-member" class="btn btn-secondary">input data</a>
            </div>
          </div>

          <div class="table">
            <table>
              <thead>
                <tr>
                  <th colspan="2" rowspan="2">NIK</th>
                  <th rowspan="2">Nama Balita</th>
                  <th rowspan="2">Nama Ibu</th>
                  <th colspan="5">Alamat</th>
                  <th rowspan="2">Action</th>
                </tr>
                <tr>
                  <th>Alamat</th>
                  <th>Desa</th>
                  <th>Kecamatan</th>
                  <th>Kabupaten</th>
                  <th>Provinsi</th>
                </tr>
              </thead>
              <tbody>
                <% members.forEach((member, index) => { %>
                <tr>
                  <td><img src="<%= member.imgsrc %> " alt="" /></td>
                  <td><%= member.nik %></td>
                  <td>
                    <a href="/admin/nutrition-report?id=<%= member.id %>"
                      ><%= member.childname %></a
                    >
                  </td>
                  <td><%= member.mothername %></td>
                  <td><%= member.address %></td>
                  <td><%= member.village %></td>
                  <td><%= member.subregency %></td>
                  <td><%= member.regency %></td>
                  <td><%= member.province %></td>
                  <td>
                    <form action="/admin/delete-member" method="post">
                      <div class="action-container">
                        <a
                          href="/admin/edit-member?id=<%= member.id %>&edit=true"
                          class="btn w-100 btn-warning"
                          ><i class="bx bx-edit"></i
                        ></a>
                        <input type="hidden" name="id" value="<%= member.id%>" />
                        <button type="submit" class="btn w-100 btn-danger">
                          <i class="bx bx-trash"></i>
                        </button>
                        <a href="/admin/add-data?id=<%= member.id %>" class="btn w-100 btn-input"
                          ><i class="bx bx-add-to-queue"></i
                        ></a>
                      </div>
                    </form>
                  </td>
                </tr>
                <% })%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/event.js"></script>
  </body>
</html>
