<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Tambah Data</title>
  </head>
  <body id="body">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="overlay">
      <label for="menu-toggle"></label>
    </div>

    <%- include("./includes/sidebar.ejs", {activeMember}) %>

    <div class="main">
      <%- include("./includes/nav.ejs", {activeMember}) %>
      <div class="main-content">

        <div class="flex-row">
          <div class="action">
            <i class="bx bx-left-arrow-alt"></i>
            <a href="/admin/">kembali</a>
          </div>
          <div class="add-container">
            <form action="/admin/<%= edit ? "edit-member" : "add-member" %>"  method="post" class="input-group ">
             
              <input type="hidden" name="id" value="<%= edit ? member.id : "" %>">
              <div class="flex-row">
                <div class="flex-col">
                  <label for="nik">NIK</label>
                  <input type="text" name="nik" id="nik" value="<%= edit ? member.nik : "" %>">
                  <input type="hidden" name="password" value="<%= edit ? member.password : "" %>">
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col">
                  <label for="mothername">Nama Ibu</label>
                  <input type="text" name="mothername" id="mothername" value="<%= edit ? member.mothername : "" %>" />
                </div>
                <div class="flex-col">
                  <label for="childname">Nama Balita</label>
                  <input type="text" name="childname" id="childname"
                 value="<%= edit ? member.childname : ""
                  %>" />
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col">
                  <label for="placeOfBirth">Tempat Lahir</label>
                  <input type="text" name="placeOfBirth" id="placeOfBirth">
                </div>
                <div class="flex-col">
                  <label for="dateOfBirth">Tanggal Lahir</label>
                  <input type="date" name="dateOfBirth" id="dateOfBirth">
                </div>
              </div>
              
              <div class="flex-row">
                <div class="flex-col">
                  <label for="address">Jenis Kelamin</label>
                  <select name="gender" id="gender">
                    <option value="Laki - Laki">Laki - Laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </div>
                <div class="flex-col">
                  <label for="address">Alamat</label>
                  <input type="text" name="address" id="address" value="<%= edit ? member.address : ""
                  %>">
                </div>
              </div>
  
              <button type="submit" class="ml-5 btn <%= edit ?  "btn-warning" : "btn-secondary" %> "><%= edit ? "Edit" : "Simpan" %> </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/event.js"></script>
  </body>
</html>
