include ./includes/head.pug
body
    include ./includes/sidebar.pug
    div(class='lg:pl-80')
        div.mx-auto(class='max-w-[22rem] sm:max-w-xl lg:max-w-3xl xl:max-w-6xl')
            include ./includes/nav.pug
            main.w-full.h-full.mt-10
                .w-full.h-max.bg-white.rounded-md.shadow
                    .flex.justify-between.items-center.p-2.mx-2
                        .flex.flex-col
                            p.text-sm.font-bold.border-b(class='md:text-base') Data Kader
                            p.text-sm.hidden.text-gray-700(class='md:block md:text-base max-w-[20rem]')
                            | data kader ibu di tommo dari bulan agustus 2021 s/d januari 2022
                        a.p-1.border.border-sky-400.text-sky-400.rounded.font-bold(href='/admin/add-user' class='md:p-2 hover:bg-sky-100 focus:bg-sky-200') 
                            svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")
                                path(d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z") 
                    .mt-4.overflow-x-auto
                        table
                            thead
                                tr.bg-white-100.text-left
                                    th.w-10.text-center No
                                    th.w-10
                                    th.w-32 NIK
                                    th.w-32 Nama Ibu
                                    th.w-32 Nama Anak
                                    th.w-36 Status Stunting
                                    th.w-20 Tanggal Lahir
                                    th.w-40 Alamat
                                    th.w-40
                            tbody
                                each user, index in users
                                    - const {value, color} = ssColor(user.stuntingStatus);
                                    tr(class="even:bg-gray-100")
                                        td.text-center= index + 1
                                        td 
                                            img(src=`https://avatars.dicebear.com/api/big-smile/${user.imgSeed}.svg`, alt="profile picture" class="w-8 h-8 border  rounded-full")
                                        td= user.nik
                                        td= user.mothername
                                        td= user.toddlername
                                        td
                                            div(class=` font-bold ${color.text} border ${color.border} w-max px-2 rounded `)= value
                                        td= user.dateOfBirth
                                        td= user.address 
                                        td.flex.justify-between.items-center.px-4.text-gray-400
                                            .icon.group(class="before:content-['edit'] before:hidden hover:before:block before:text-sky-400 before:bg-sky-100")
                                                a(href=`/admin/edit-user?id=${user.id}&edit=true`) 
                                                    svg.h-5.w-5.cursor-pointer(xmlns='http://www.w3.org/2000/svg' class='hover:text-sky-400 hover:before:block' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z')
                                            .icon.group(class="before:content-['info'] before:hidden hover:before:block before:text-yellow-500 before:bg-yellow-100")
                                                a(href=`/admin/detail?id=${user.id}`) 
                                                    svg#detail.h-5.w-5.cursor-pointer(xmlns='http://www.w3.org/2000/svg' class='hover:text-yellow-400 hover:before:block' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z') 
                                            .icon.group(class="before:content-['hapus'] before:hidden hover:before:block before:text-red-500 before:bg-red-100")
                                                form(action="/admin/delete-user" method="post") 
                                                    input(type="hidden", name="id" value= user.id)
                                                    button(type="submit") 
                                                        svg.h-5.w-5.cursor-pointer(xmlns='http://www.w3.org/2000/svg' class='hover:text-red-400 hover:before:block' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16')
                                            .icon.group(class="before:content-['input'] before:hidden before:-left-5 hover:before:block before:text-green-500 before:bg-green-100")
                                                a(href=`/admin/add-measurement?id=${user.id}`) 
                                                    svg.h-5.w-5.cursor-pointer(xmlns='http://www.w3.org/2000/svg' class='hover:text-green-400 hover:before:block' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z')
script(src='/assets/js/event.js')