include ./includes/head.pug
body
    include ./includes/sidebar.pug
    div(class='lg:pl-80')
        div.mx-auto(class='max-w-[22rem] sm:max-w-xl lg:max-w-3xl xl:max-w-6xl')
            include ./includes/nav.pug
            main.w-full.h-full.mt-10
                div.w-full.bg-white.h-max.rounded-md
                    div.mx-auto.bg-white.p-2.px-4.pb-10(class='w-[20rem] sm:w-[35rem]')
                        a.flex.gap-2.mb-10.group.items-center(href='/admin')
                            svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' class='transform group-hover:-translate-x-1 transition' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 16l-4-4m0 0l4-4m-4 4h18')
                            span Kembali
                        div.border-b.text-center.mb-10.text-xl.p-2 Masukkan data kader
                        form.space-y-4(action=`${edit ? '/admin/edit-user' : '/admin/add-user'}` method='post')
                            input(type="hidden", name="id" value=`${edit ?  user.id : ''}`)
                            div.flex.flex-col
                                label.text-sm(for='nik') NIK
                                input#nik( class=`${error && error.param === 'nik' ? 'border-red-400' : ''}` type='text' name='nik' value=`${error ? oldValue.nik : edit ? user.nik : ''}`)
                            div.flex.flex-col.gap-4(class='sm:flex-row')
                                div.flex.flex-col.flex-1
                                    label.text-sm(for='mothername') Nama Ibu
                                    input#mothername( class=`${error && error.param === 'mothername' ? 'border-red-400' : ''}` type='text' name='mothername' value=`${error ? oldValue.mothername :edit ? user.mothername : ''}`)
                                div.flex.flex-col.flex-1
                                    label.text-sm(for='toddlername') Nama Balita
                                    input#toddlername(  class=`${error && error.param === 'toddlername' ? 'border-red-400' : ''}` type='text' name='toddlername' value=`${error ? oldValue.toddlername :edit ? user.toddlername : ''}`)
                            div.flex.flex-col.gap-4(class='sm:flex-row')
                                div.flex.flex-col.flex-1
                                    label(for="gender") Jenis Kelamin
                                    select#gender( class=`${error && error.param === 'gender' ? 'border-red-400' : ''}` name="gender") 
                                        if edit 
                                            if user.gender == 'Laki - Laki'
                                                option(value="Laki - Laki" selected) Laki - Laki
                                                option(value="Perempuan" ) Perempuan
                                            else
                                                option(value="Laki - Laki") Laki - Laki 
                                                option(value="Perempuan" selected ) Perempuan
                                        else
                                            option(value="Laki - Laki") Laki - Laki
                                            option(value="Perempuan" ) Perempuan                               
                                div.flex.flex-col.flex-1
                                    label(for='dateOfBirth') Tanggal Lahir
                                    input#dateOfBirth(  class=`${error && error.param === 'dateOfBirth' ? 'border-red-400' : ''}` type='date' name='dateOfBirth' value=`${error ? oldValue.dateOfBirth :edit ? user.dateOfBirth : ''}`)
                            div.flex.flex-col.gap-4(class="sm:flex-row")
                                div.flex.flex-col.flex-1
                                    label(for='address') Alamat
                                    textarea#address.resize-none(  class=`${error && error.param === 'address' ? 'border-red-400' : ''}` name='address' cols='30' rows='3' )= `${error ? oldValue.address :edit ? user.address : ''}`
                            button.w-full.p-2.px-5.rounded.font-bold.text-white(type='submit' class='bg-sky-400 hover:bg-sky-300') Submit
script(src='/assets/js/event.js')
