<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Data Gizi</title>
  </head>
  <body id="body">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="overlay">
      <label for="menu-toggle"></label>
    </div>

    <%- include("./includes/sidebar.ejs", {activeMember}) %>

    <div class="main">
      <%- include("./includes/nav.ejs", {activeMember}) %>
      <div class="main-content">
        <div class="in-container">
          <div class="profile-container">

          <div class="profile">
            <div class="action">
              <a href="/admin/nutrition-report?id=<%= member.id  %>">
                <i class="bx bx-left-arrow-alt"></i> kembali</a
              >
            </div>
            <img src="/assets/img/avataaars.png" alt="avataaars" />
            <h4>Ibu <%= member.mothername %></h4>
            <p><%= member.childname%></p>
            <p><%= member.address %></p>

          </div>
            <div class="card notes-input">
              <div class="head">
                <p>Catatan</p>
              </div>
              <ol class="notes-view">
              </ol>
            </div>
          </div>


          <div class="input">
            <form action="/admin/<%= edit ? "edit-data" : "add-data" %>" method="post" class="input-group">
              <input type="hidden" name="nutritionId" value="<%= nutrition.id %>">
              <input type="hidden" name="id" value="<%= member.id %>" />
              <div class="flex-row">
                <div class="flex-col">
                  <label for="berat">Berat (kg)</label>
                  <input step="0.01"  type="text" name="weight" id="weight" value="<%= edit ?
                  nutrition.weight : "" %>"/>
                </div>
                <div class="flex-col">
                  <label for="tinggi">Tinggi/Panjang (cm)</label>
                  <input  step="0.01" type="text" name="height" id="height" value="<%= edit ?
                  nutrition.height : "" %>" />
                </div>
              </div>

              <div class="flex-row">
                <div class="flex-col">
                  <label for="umur">Umur (bulan)</label>
                  <input  step="0.01" type="text" name="age" id="age" value="<%= edit ?
                  nutrition.age : "" %>" />
                </div>
                <div class="flex-col">
                  <label for="month">Bulan Pengukuran</label>
                  <select name="month" id="month">
                    <option value="0" <% if (fn(edit, nutrition.month, 0)) { %> selected <% } %> >Januari</option>
                    <option value="1" <% if (fn(edit, nutrition.month, 1)) { %> selected <% } %> >Februari</option>
                    <option value="2" <% if (fn(edit, nutrition.month, 2)) { %> selected <% } %> >Maret</option>
                    <option value="3" <% if (fn(edit, nutrition.month, 3)) { %> selected <% } %> >April</option>
                    <option value="4" <% if (fn(edit, nutrition.month, 4)) { %> selected <% } %> >Mei</option>
                    <option value="5" <% if (fn(edit, nutrition.month, 5)) { %> selected <% } %> >Juni</option>
                    <option value="6" <% if (fn(edit, nutrition.month, 6)) { %> selected <% } %> >Juli</option>
                    <option value="7" <% if (fn(edit, nutrition.month, 7)) { %> selected <% } %> >Agustus</option>
                    <option value="8" <% if (fn(edit, nutrition.month, 8)) { %> selected <% } %> >September</option>
                    <option value="9" <% if (fn(edit, nutrition.month, 9)) { %> selected <% } %> >Oktober</option>
                    <option value="10" <% if (fn(edit, nutrition.month, 10)) { %> selected <% } %> >November</option>
                    <option value="11" <% if (fn(edit, nutrition.month, 11)) { %> selected <% } %> >Desember</option>
                  </select>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col">
                  <label for="notes">Catatan</label>
                  <div class="notes-container">
                    <input type="hidden" name="notesValue" id="notes-value" value="">
                    <textarea name="notes" id="notes" cols="30" rows="5"></textarea>
                    <div id="notes-btn" class="btn btn-input"><i class='bx bx-plus-medical'></i></div>
                  </div>
                </div>
              </div>
           
              <button type="submit" class="ml-05 btn <%= edit ? "btn-warning" : "btn-secondary" %>">
                <%= edit ? "Edit" : "Simpan" %>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/event.js"></script>
  </body>
</html>
