<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Tambah Data</title>
  </head>
  <body id="body">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="overlay">
      <label for="menu-toggle"></label>
    </div>

    <%- include("../includes/sidebar.ejs", {activeMember}) %>

    <div class="main">
      <%- include("../includes/nav.ejs", {activeMember}) %>
      <div class="main-content">
          <div class="in-container input-group">
            <div class="action">
                <a href="/admin/<%= link %>">
                  <i class="bx bx-left-arrow-alt"></i> kembali</a
                >
              </div>
            <form action="/admin/add-<%= link %> " method="post">
                <input type="hidden" name="id">
                <div class="flex-row">
                  <div class="flex-col">
                    <label for="age"><%= label %></label>
                    <input type="text" name="age" id="age">
                  </div>
                  <div class="flex-col">
                    <label for="address">Jenis Kelamin</label>
                    <select name="gender" id="gender">
                      <option value="Laki - Laki">Laki - Laki</option>
                      <option value="Perempuan">Perempuan</option>
                    </select>
                    
                  </div>
                </div>
             
                <div class="flex-row">
                  <div class="flex-col">
                    <label for="min3sd">-3 SD</label>
                    <input type="text" name="min3sd" id="min3sd" step="0.1">
                  </div>
                  <div class="flex-col">
                    <label for="min2sd">-2 SD</label>
                    <input type="text" name="min2sd" id="min2sd" step="0.1">
                  </div>
                  <div class="flex-col">
                    <label for="min1sd">-1 SD</label>
                    <input type="text" name="min1sd" id="min1sd" step="0.1">
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col">
                    <label for="median">Median</label>
                    <input type="text" name="median" id="median" step="0.1">
                    </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col">
                    <label for="plus1sd">+1 SD</label>
                    <input type="text" name="plus1sd" id="plus1sd" step="0.1">
                  </div>
                  <div class="flex-col">
                    <label for="puls2sd">+2 SD</label>
                    <input type="text" name="plus2sd" id="puls2sd" step="0.1">
                  </div>
                  <div class="flex-col">
                    <label for="plus3sd">+3 SD</label>
                    <input type="text" name="plus3sd" id="plus3sd" step="0.1">
                  </div>
                </div>
                <button type="submit" class="ml-5 btn <%= edit ?  "btn-warning" : "btn-secondary" %> ">
                  <%= edit ? "Edit" : "Simpan" %> 
                </button>
              </form>
          </div>
      </div>
    </div>

    <script src="/assets/js/event.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
